<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileToggle" aria-controls="mobileToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobileToggle">
            <div class="navbar-nav justify-content-center">
                <a class="nav-link" href="/">Home</a>
            </div>
        </div>
    </div>
</nav>
